
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.app > div {
    position: relative;
    width: 100%;
}

.isOver {
    background-color: #91a7ff30!important;
}

.target-bar {
    height: 20px;
    border: 2px solid blue;
    background-color: red;
}

/*组件盒子*/
.componentBox {
    position: relative;
    box-sizing: border-box;
}
/*
    Path: app/components/label.module.css
    组件标签
*/
.componentLabel {
    position: absolute;
    background-color: #00000030;
    font-size: 12px;
    padding-inline: 12px 8px;
    border-bottom-left-radius: 8px;
    color: white;
    right: 0;
    top: 0;

}