
.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 45px 300px 1fr 300px;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "header header header header"
    "group sidebar main config";
}

.header {
    grid-area: header;
    border-bottom: 1px solid #00000010;
}

.main {
    height: 100%;
    background-color: #00000010;
    box-sizing: border-box;
    padding: 10px;
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.config {
    grid-area: config;
}

.group {
    grid-area: group;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-right: 1px solid #00000010;
}